<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Emulator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/scripts.js"></script>
</head>
<body>
<div>
<a>
<a id="monitoring_data_2">

    <label class="text-field__label__3" for="name">Работа со складом</label>

    <div class="div-inline-block">
        <div class="div-inline-block">
            <label class="text-field__label" for="name">Вода в баках</label>
            <input class="text-block_2" type="text" id="value1" placeholder="Вода в баках">
            <button class="custom-btn btn-3" onclick="get_water()"><span>Отправить</span></button>
        </div>
        <div class="div-inline-block">
            <label class="text-field__label" for="name">Семена</label>
            <input class="text-block_2" type="text" id="value2" placeholder="Семена<">
            <button class="custom-btn btn-3" onclick="get_seeds()"><span>Отправить</span></button>
        </div>
        <div class="div-inline-block">
            <label class="text-field__label" for="name">Удобрение</label>
            <input class="text-block_2" type="text" id="value3" placeholder="Удобрение">
            <button class="custom-btn btn-3" onclick="get_fertilizer()"><span>Отправить</span></button>
{#            <label class="switch">#}
{#                <input type="checkbox" id="check1">#}
{#                <span class="slider round"></span>#}
{#            </label>#}

        </div>
        <div class="div-inline-block">
            <label class="text-field__label" for="name">Комплектующие теплицы</label>
            <input class="text-block_2" type="text" id="value4" placeholder="Комплектующие теплицы">
            <button class="custom-btn btn-3" onclick="get_components()"><span>Отправить</span></button>
{#            <label class="switch">#}
{#                <input type="checkbox" id="check2">#}
{#                <span class="slider round"></span>#}
{#            </label>#}

    </div>

</div>
</body>
</html>